@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 480px) {
  html {
    background-color: #fff;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #cccccc;
  }
}
